@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');
$mainRed: #BB0011;
$dotOffset: -28.5px;
@mixin bulletpoint($size) {
    content:" ";
    display:inline-block;
    border:5px solid $mainRed;
    background-color:$mainRed;
    width:$size;
    height:$size;
    overflow:hidden;
    border-radius:50%;
    position: absolute;
}
:root {
  --primary-color: white;
  --secondary-color: black;
}
main {
  transition: all 0.3s;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}


body {
  font-family: sans-serif;
  margin: 0 0 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
a { 
  text-decoration:none;
  color:$mainRed;
  &:hover {
    text-decoration:underline;
  }
}
ul:not(#tagList) {
  list-style: none;
  margin-left:80px;
  padding-left:15px;
  margin-top:0;
  padding-top:40px;
  margin-bottom:0;
  padding-bottom:40px;
  min-height:100vw;
  border-left:10px solid $mainRed;
}
li {
  position:relative;
  margin-top:30px;
  #tagList > & {
    margin-top: 0px;
  }
  > span {
    display:inline-block;
    position:absolute;
    left:-110px;
    text-align:right;
    width: 70px;
  }
  p {
    display:inline-block;
    padding-top:0; margin-top:0;
    &::before {
        left: calc($dotOffset - 0.175em);
        top: 0.15em;
        @include bulletpoint(calc(15px + 0.35em));
    }
  }
  h1 {
    display:inline-block; 
    color:#990011;
    padding-top:0; margin-top:0;
    &::before {
        left: calc($dotOffset - 0.25em);
        top: 0.125em;
        @include bulletpoint(calc(15px + 0.5em));
    }
  }
  h3 {
    display:none; position:absolute;
  }
  &.collapsible::before {
    content:"► ";
    font-family: "Times New Roman";
    display: inline-block;
    overflow: hidden;
    position: absolute;
    left:-100px;
  }
  &.collapsible:hover {
    cursor: pointer;
    width: fit-content;
  }
  div {
    &::before {
        @include bulletpoint(calc(15px + 0.25em));
        left:calc($dotOffset - 0.0625em);
    }
    display:inline-block;
    h3 { 
        padding-top:0; margin-top:0;
        padding-bottom:2px; margin-bottom:2px;
    }
    p {
        display:inline-block; 
        margin-top:0;
        min-height:3em;
    }
  }
  &.active::before {
    content: "▼";
  }
}

.content {
  display:none;
}
  
#searchTagCon, input[type="text"]:not(#searchTag), textarea {
  background-color: inherit;
  border: 2px solid $mainRed;
  border-radius: 5px;
  width:90%;
  min-width:45%;
  margin: 5px 0px;
}

input[type="text"] {
  font-size: 16px;
  &:focus {
    outline: none;
  }
}
textarea {
  text-wrap: wrap;
  resize:none;
  field-sizing: content;
}

input[type="checkbox"] {
  border: 0.2em solid var(--primary-color);
  outline: 0.2em solid $mainRed;
  width:1em;
  height:1em;
  appearance: none;
  cursor: pointer;
  background-color: var(--primary-color);
  transition: all 0.3s;
  &:checked {
    background-color: $mainRed;
  }
}

#searchTagCon {
  
  margin-bottom:0px;
  display:block;
  width: 90%;
  text-align: left;
  input[type="text"] {
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }
  #searchTag {
    border: none;
    width: fit-content;
    background-color: transparent;
    padding: 5px 3px;
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }
  .tag {
    display: inline-block;
    background-color: $mainRed;
    color: white;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 2px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      filter: brightness(80%);
    }
    &::after {
      content: " X";
      font-weight: bold;
    }
  }
}
#searchTagCon:focus, #search:focus {
  outline: none;
  border: 3px solid $mainRed;
}
#tagList {
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  margin: 2px;
  padding: 0 10px 10px 10px;
  border: 3px solid $mainRed;
  border-radius: 5px;
  display: none;
  width:90%;
  button {
    background: none;
    font-weight:bold;
    border: none;
    text-align: left;
    width: 100%;
    padding: 5px 3px;
    cursor: pointer;
    border-bottom: 2px solid $mainRed;
    &:hover {
      background-color: #BB001177;
    }
  }
}


.show {
  display: flex !important;
}





/*BETTER FOOTNOTES - CREDIT TO EstrellaYoshte, Woedenaz, and Placeholder McD*/
:root {
    --posX: calc(50% - 358px - 12rem);
    --fnTransition: 0.3s;
    --fnLinger: 0.15s;
    --fnInteract: calc(var(--fnTransition) + var(--fnLinger));
}
 
/*--- Footnote Auto-counter --*/
#main-content {
    counter-reset: megacount;
}
 
/*--- Footnote Superscript Number --*/
.fnnum {
    display: inline-block;
    width: max-content;
    text-indent: -0.475ex;
    vertical-align: super;
    line-height: 80%;
    word-break: initial;
    text-decoration: none;
    font-weight: bold;
    font-style: initial;
    color: transparent;
    position: relative;
    font-size: 80%;
    padding: .15em .05em;
    margin-right: -0.25em;
    counter-increment: megacount;
    -webkit-user-select: none;
    user-select: none;
}
.fnnum::after {
    content: "" counter(megacount);
    color: var(--fnColor, #E6283C);
}
.fnnum:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: var(--fnColor, #E6283C);
}
.fnnum:hover::after { color: white; }
 
/*--- Footnote Content Wrapper --*/
.fncon {
    position: absolute;
    right: calc(var(--posX) + 80px);
    line-height: 1.25;
    padding: 0.8125rem;
    width: 12.5rem;
    box-sizing: border-box;
    background: white;
    border: .125rem solid black;
    font-size: .9125rem;
    font-weight: initial;
    font-style: normal;
    text-align: initial;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
    transition:
        opacity 0.15s linear var(--fnLinger),
        right var(--fnTransition) cubic-bezier(.08,.72,.5,.94) var(--fnLinger),
        visibility 0.01s linear var(--fnInteract);
}
.fnnum:hover + .fncon, .fncon:is(:hover,:focus-within) {
    opacity: 1;
    z-index: 10;
    right: var(--posX);
    visibility: visible;
    transition:
        opacity 0.15s linear,
        right var(--fnTransition) cubic-bezier(.08,.72,.5,.94);
}
 
.fncon::before {
    position: absolute;
    top: 0; left: 0;
    transform: translateX(-52%) translateY(-55%) scale(1.15);
    background-color: var(--fnColor, #E6283C);
    color: white;
    content: counter(megacount);
    font-size: initial;
    font-weight: bold;
    font-style: initial;
    padding: 0.18rem 0.32em 0.08rem;
}
 
/*--- Mobile Query --*/
@media only screen and (max-width: 1279px) {
    .fncon {
        position: fixed;
        bottom: 1.5rem;
        left: calc(15% - 50px);
        width: 70%;
        transition:
            opacity 0.15s linear var(--fnLinger),
            left var(--fnTransition) cubic-bezier(.08,.72,.5,.94) var(--fnLinger),
            visibility 0.01s linear var(--fnInteract);
    }
    .fnnum:hover + .fncon, .fncon:is(:hover,:focus-within) {
        left: 15%;
        transition:
            opacity 0.15s linear,
            left var(--fnTransition) cubic-bezier(.08,.72,.5,.94);
    }
}
